@media only screen and (max-width:
1340px){
    .container .main_title h1{
        
        font-size:5vh;
    }
    .row{
        margin:5vh;
        height: 30vh;
        width: 60%;
        margin-left:350px;
    }
    .row .col{
        height: 50vh;
        width: 60%;
        margin:10px;
        
    }
    .paragrape{
        margin-top:90vh;
        width: 100%;
        height: 40vh;
        margin-left:150px;
        
    }
}
@media only screen and (max-width:
1260px){
    .top_bar ul{
        font-size:1vw;
    }
    .container .title_link{
        width: 20%;
        
    }
    
.card .row{
    width: 78%;
    height: 35vh;
    margin-left: 300px;
   
}
.card .row .col{
    height: 100%;
    width: 70%;  
}
.video{
    margin-top:40vh;
}
.video .img{
    margin-left: 330px;
}
.black_site {
    background:#263238;
    height: 100%;
    width: 100%;
    
}
.black_site .row .col{
    margin-left: 100px;
    height: 50%;
    width: 70%;
    background:#263238;
}


}
@media only screen and (max-width:
983px){
    .top_bar .link_section button{
        
        padding:5px 20px;  
    }
    .headline{
        
        width: 60%;
        margin-left:150px;
    
    }
}
